.App {
  text-align: center;
}

.temp-info {
  background-color: #ebdacc;
  width: 50%;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-header h1 {
  color: rgba(0, 0, 0, 0.6);
  text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.1);
}

.temp-info {
  background-color: white;
  width: 80%;
  padding: 1em;
  min-height: 200px;
  box-shadow: 10px 10px #282c34, 10px 10px 0px 2px yellow;
}

.temp-info h2 {
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
  text-align: center;
}

.temp-info h6 {
  line-height: 0.2px;
}

.App-link {
  color: #61dafb;
}

@media (max-width: 1025px) and (min-width: 600px) {
  .temp-info {
    width: 80%;
    box-shadow: 20px 20px #282c34, 20px 20px 0px 2px yellow;
  }
}

@media (min-width: 1026px) {
  .temp-info {
    width: 40%;
    box-shadow: 20px 20px #282c34, 20px 20px 0px 2px yellow;
  }
  .info-box {
    display: grid;
  }
  .info-box input {
    height: 2.5em;
  }

  .info-box button {
    width: 50%;
    margin: 1em auto;
    padding: 1em 0;
    background-color: #09f7ea;
    font-size: 0.5em;
    cursor: pointer;
    border: none;
    transition: 1s ease-in;
  }
}
